/*Making body a grid container*/
body{
    font-family: 'Roboto';
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 80% 10%;
}

/*Header flex container*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: clamp(0.5rem, 0.8vw, 1rem);
    margin-right: clamp(0.5rem, 0.8vw, 1rem);
}

/*Text container used for every text on the page*/
.textContainer{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(0.4rem, 0.7vw, 2rem);
}

/*Making labels look bold*/
.textLabel{
    font-family: 'RobotoBold';
}

/*Container for header icons*/
.headerIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(2rem, 3vw, 4rem);
}

/*Making buttons and links invisible*/
.headerIcons button, .headerIcons a{
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    line-height: 0;
}

/*Style for header icons images*/
.headerIcons img{
    width: clamp(2rem, 3vw, 3rem);
    height: auto;
    transition: transform 0.1s linear;
}

.headerIcons img:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*Main grid with cards*/
main{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: clamp(0.3rem, 0.5vw, 2rem);
}

/*Style for memory cards*/
.card{
    width: clamp(5.5rem, 10vw, 20rem);
    height: clamp(5.5rem, 10vw, 20rem);
    border-radius: clamp(1.3rem, 2vw, 10rem);
    transition: transform 0.1s linear;
}

.cardInner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s, box-shadow 0.1s ease-in-out;
    transform-style: preserve-3d;
    border-radius: inherit;
    box-shadow: 0 1vh 0.5vh rgba(0, 0, 0, 0.2);
}

.card.flipped .cardInner{
    transform: rotateY(180deg);
}

.cardFront, .cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    background: linear-gradient(#74C0FC, #4098FF);
}

.cardBack{
  transform: rotateY(180deg);
}

/*Style for cards icons*/
.card img{
    width: clamp(2rem, 4vw, 20rem);
    height: auto;
}

.card:hover{
    cursor: pointer;
    transform: scale(0.98);
}

.cardInner:hover{
  box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.2);
}

/*Footer flex container*/
footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: clamp(0.5rem, 0.8vw, 1rem);
}