/*Main body grid*/
body{
    font-family: 'Peralta';
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-content: center;
}

/*Container for text*/
.textContainer{
    font-size: clamp(1rem, 5vw, 8rem);
    align-self: flex-end;
}

/*Container for buttons*/
.buttons{
    height: 100%;
    font-family: 'RobotoBold';
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.2rem, 3vh, 8rem);
}

/*Style for buttons*/
.buttons div{
    outline: 1px solid #000000;
    border-radius: 999999px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    width: clamp(5rem, 15vw, 12rem);
}

/*Style for hovering buttons*/
.buttons div:hover{
    cursor: pointer;
    background: linear-gradient(#74C0FC, #4098FF);
    outline: none;
}

/*Global style for links on the page*/
a, a:link, a:hover, a:visited{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

/*Home icon container*/
.homeIcon{
    position:absolute;
    width: clamp(2rem, 3vw, 3rem);
    height: auto;
    transform: translate(-50%);
}

.homeIcon img{
    position: relative;
    height: auto;
    width: clamp(2rem, 3vw, 3rem);
}

.homeIcon a{
    line-height: 0;
}

