/*Importing font definitions file*/
@import url('./css/fonts.css');
@import url('./css/animations.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html, body{
    height: 100%;
    width: 100%;
}

body{
    /*Background gradient for the whole website*/
    background: radial-gradient(circle, #1E50B4, #3B7DD8);
    color: #FFFFFF;
}

 /*Red text paragraph*/
.redText{
  color: #F44336;
}

